.logo {
    width:150px;
    height:150px;
}
#body, #body2, #body3, #body4, #body5{
    min-height: 100vh;
    display:flex; 
    flex-direction:column;
        background: url(bg.JPG) 50%/ cover;
    justify-content: space-evenly;
        background: url(bg.JPG) 100%/ cover;
    }

    .jumbotron{

	
          background: 
      linear-gradient(
        gray, 
        gray
      ),
      url(hhl.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-size: 20px;
      }
     
      .col-12{
        border-style: solid;
        background-color: 	#696969;
        color:black;
      font-weight:30px;
      }
	
